.widgetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eef6fb;
  box-sizing: border-box;
  padding: 1.5rem 0;

  &:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  h1 {
    font-weight: 300;
    font-size: 24pt;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

  > div {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    img {
      -webkit-filter: drop-shadow(0 0 5px rgba( 0, 0, 0, .5 ));
      filter: drop-shadow(0 0 5px rgba( 0, 0, 0, .5 ));
    }

    img.withBackground {
      background-color: #999;
      border-radius: 100px;
      margin: 15px;

    }

    h2 {
      font-size: 72pt;
      margin: 0;
      padding: 0;
      font-weight: 300;
      font-family: 'Teko', sans-serif;
      line-height: 60pt;
    }

    p {
      font-size: 24pt;
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
    }

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &.smallWidget {
    max-width: 25%;
    flex: 1;
    border-radius: 0;

    &:first-child {
      border-bottom-left-radius: 10px;
    }
  
    &:last-child {
      border-bottom-right-radius: 10px;
    }

    > div {
      flex-direction: column;
      align-items: center;

      img.withBackground {
        margin: 0;
      }

      > h2 {
        font-size: 32pt;
        line-height: 28pt;
      }
    }
  }
}