.screen {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  flex: 1;

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 0;

    button {
      margin: 0;
      padding: 2rem 2rem;
      font-size: 36pt;
      text-transform: uppercase;
      border: 0;
      background: 0;
      cursor: pointer;
      font-weight: 200;
      font-family: 'Montserrat', sans-serif;


      &.current {
        color: #5cafe8;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }

  .dataList {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba( 0, 0, 0, .3 );
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px;
    overflow: hidden;

    .futureData {
      display: flex;
      flex-direction: row;
      gap: 6px;
      box-sizing: border-box;
    }
  }
}